{
    "presets": ["env"],
    "plugins": [
        [
            "import-rename", {
                "src": "dist"
            }
        ],
        [
            "transform-runtime", {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}